*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
} 

/* header section starts here  */
.header{
    background-color: rgba(229, 84, 115, 0.10);
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-around;
    margin: 0 50px;
}
.logo-image{
    width: 50px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
}
nav ul{
    display: flex;
    gap: 50px;
    align-items: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
nav li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    padding: 10px;
}
nav ul li a:hover{
    background-color: rgb(244, 159, 159);
    border-radius: 8px;
}
.our{
    color: #ed748e;
}
.featured{
    color: rgb(13, 220, 220);
}
.flower{
    color: rgb(57, 165, 82);
}

.banner{
    display: flex;
    align-items: center;
    text-align: center; 
    justify-content: space-between;
    padding: 30px 100px 0px 120px;
    text-align: left;
    
}
.banner-content{
    width: 500px;
}
.banner-photo{
    width: 500px;
}
.banner-title{
    color: #272727;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.btn{
    padding: 15px;
    color: white;
    border-radius: 8px;
    background: #E55473;
    border: none;
}

/* header section ends here  */
.our-feature{
    text-align: center;
    margin-bottom: 70px;
}
.our-section-container{
    text-align: center;
    margin: 20px 400px 0px 400px;
    padding: 20px;
}
.our-feature-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}
.our-feature-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 0px;
    
}
.our-section-card{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards img{
    width: 200px;
    text-align: center;
    margin: 20px 20px 10px 20px;
    border-radius: 300px 300px 0px 0px;
    padding: 70px 40px 0px 40px;      
    
}
.card-photo1{
    height: 300px;
    background: rgba(167, 33, 98, 0.15);
}
.card-photo2{
    background: rgba(5, 151, 160, 0.15);
    height: 300px;
}
.card-photo3{
    background: rgba(71, 125, 17, 0.15);
}
.card a{
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
}

/* services section starts from here  */
.servics{   
    display: flex;
    justify-content: space-around;
    max-width: 820px;
    margin: 0 auto;
    text-align: center;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05); 
    padding: 50px;
    gap: 60px;
}
.delivery img{
    width: 50px;
    height: 50px;
}
.delivery p{
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}
/* services section ends from here  */

/* hot-deal styles starts from here  */
.hot-deal-section{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background: rgba(229, 84, 115, 0.05);
    padding: 0px 100px;
} 
.hot-deal-section .hot-deal-content{
    width: 500px;
}
.hot-deal-content .hot-deal-title{
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}
.hot-deal-content .hot-deal-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0px 20px 0px;
}
.hot-deal-section img{
    width: 318px;
    height: 420px;
}

.off{
    color: #E55473;
}
/* hot-deal styles ends from here  */

/* footer section starts from herer */
footer{
    background-color: #111010;;
    color: white;
    text-align: center;
    padding: 100px;
}
.footer-title{
    font-size: 48px;
    font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 20px;
}
.reserved{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    margin-top: 20px;
}
/* footer section ends from herer */